body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #B9000D;
}

#button {
    margin-top: 20px;
}

#container {
    width: 600px;
    margin: 0 auto;
    margin-top: 20px;
}

.grid {
    width: 200px;
}

.row {
    float:left;
}

.gridsquare {
    background-color: #9C9993;
}