body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #B9000D;
}

#button {
    margin-top: 15px;
}

#container {
    width: 600px;
    margin: 0 auto;
    position: relative;
}

img {
    width: 947px;
    height: 700px;
    position: absolute;
    left: 50%;
    right: 50%;
    margin: -7px 0 0 -475px;
}

.gridsquare {
    background-color: #9C9993;
    position: relative;
}

.row {
    float:left;
    margin-top: 140px;
}